Belcar Santiago Cuentas Zavala Infante <bcuentas@unal.edu.co> <barquean.09excavacion@icloud.com>
Belcar Santiago Cuentas Zavala Infante <bcuentas@unal.edu.co> <git@dontwanttoth.ink>
Andres Felipe Toscano Sierra <atoscano@unal.edu.co>
Santiago Rodríguez Ortega <sanrodriguezor@unal.edu.co>
Sergio Andrés Acosta Rodríguez <seacostar@unal.edu.co>
Sergio Andrés Acosta Rodríguez <seacostar@unal.edu.co> <sergioacosta792m@gmail.com>
