:root {
	--content-padding: 2rem;

	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	text-transform: lowercase;

	color-scheme: light dark;
	color: light-dark(#213547, rgba(255, 255, 255, 0.87));
	background-color: light-dark(#ffffff, #242424);
}

a {
	font-weight: 500;
	color: light-dark(#646cff, #999eff);
	text-decoration: inherit;

	&:hover {
		color: light-dark(#535bf2, hsl(from #999eff h s calc(l - 5)));
	}
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin-block-start: 0.5rem;
	margin-block-end: 0;
}

body {
	max-width: 1280px;
	margin: 0 auto;
	padding: var(--content-padding);
}

main {
	text-align: center;
}

article {
	text-align: justify;
	margin: auto;
	max-width: 500px;
}

p {
	text-transform: none;
}

#canvas-container {
	display: flex;
	flex-direction: row;
	justify-content: center;

	overflow: auto;
	width: 100%;

	canvas {
		display: block;
		border-radius: 1rem;
	}
}

.card {
	padding: 2em;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: light-dark(#f9f9f9, #1a1a1a);
	cursor: pointer;
	transition: border-color 0.25s;

	&:hover {
		border-color: #646cff;
	}
	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

.subtitle {
	font-size: 1.3rem;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: lowercase;
}

nav {
	display: flex;
	gap: 1rem;
	justify-content: center;

	p {
		margin-top: 0;
		text-transform: lowercase;
	}

	a {
		font-weight: normal;
		text-decoration: underline;
	}
}

.preserve-case {
	text-transform: none;
}

.error-notification {
	background: linear-gradient(
		to bottom,
		oklch(87% 25% 18deg),
		oklch(95% 10% 18deg)
	);
	margin: auto auto;
	border: none;
	border-radius: 1rem;
	padding: 2rem;
	width: min(calc(100% - 2 * 4.5rem), 40rem);
	box-shadow: 0 0 16px rgb(0 0 0 / 10%);

	h1 {
		font-size: 2rem;
	}
	p {
		text-align: start;
	}
}
